/vendor/
/node_modules/
/logs/*
!/logs/.gitkeep
.env
.env.backup
.phpunit.result.cache
composer.lock
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/storage
/storage/*.sqlite
/storage/logs/*
!/storage/logs/.gitkeep
/storage/app/*
!/storage/app/.gitkeep